<% include head.html%>
<link rel="stylesheet" type="text/css" href="/css/ke1.css" />
<div class="layui-fluid">
	<div class="common-channel-crumb">
		<span>当前位置：</span>
		<a href="http://www.jiakaobaodian.com/">首页</a>
		<i class="layui-icon layui-icon-right"></i>
		<a href="/mnks/car-beijing.html">模拟考试</a>
		<i class="layui-icon layui-icon-right"></i>
		<strong>科目一</strong>
	</div>

	<div class="layui-col-md9 left">
		<div class="header text-center">
			<h1>2018小车科目一考试</h1>
			<h2>科目一，又称科目一理论考试、驾驶员理论考试，是机动车驾驶证考核的一部分 。根据《机动车驾驶证申领和使用规定》，考 试内容包括驾车理论基础、道路安全法律法规、地方性法规等相关知识。考试形式为上机考试，100道题，90分及以上过关。</h2>

		</div>

		<div class="tiku_menu ">
			<ul class="menu_list">
				<li>
					<a target="_blank" href="/ke1/ke1kaoshi" class="icon0">顺序练习</a>
				</li>
				<li>
					<a target="_blank" href="" class="icon1">随机练习</a>
				</li>
				<li>
					<a target="_blank" href="" class="icon2">章节练习</a>
				</li>
				<li>
					<a target="_blank" href="" class="icon3">专项练习</a>
				</li>
				<li>
					<a target="_blank" href="" class="icon4">难题练习</a>
				</li>
				<li>
					<a target="_blank" href="" class="icon5">全真模拟</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="layui-col-md3 right1">
		<a class="ksyy-entry" href="/ksyy/" target="" data-sp="0.34">
			<div class="ksyy-left layui-anim layui-anim-rotate layui-anim-loop"></div>
			<div class="ksyy-right">
				<p class="ksyy-right-title">考试预约</p>
				<p class="ksyy-right-detail">在线快捷考试预约入口</p>
			</div>
		</a>

		<div class="com-side-roadsign com-part" data-sp="0.31">
			<h3 class="part-title">科目一交通标志<a class="more" target="_blank" href="#">更多</a></h3>
			<ul class="list-w">
				<li class="clearfix">
					<a class="icon icon1" target="_self" href="#">交通标志大全</a>
				</li>
				<li class="clearfix">
					<a class="icon icon2" target="_blank" href="#">汽车仪表盘指示灯</a>
				</li>
				<li class="clearfix">
					<a class="icon icon3" target="_blank" href="#">车内功能按键</a>
				</li>
				<li class="clearfix">
					<a class="icon icon4" target="_blank" href="#">交通事故图解</a>
				</li>
				<li class="clearfix">
					<a class="icon icon5" target="_blank" href="#">新版交警手势</a>
				</li>
			</ul>
		</div>
	</div>
</div>


<script src="/layui/layui.all.js"></script>
<% include footer.html%>