<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>模拟考试</title>
  <link rel="stylesheet" href="../static/layui/css/layui.css">
  <link rel="stylesheet" href="../static/css/app.css">
  <style>
    .logo {
      margin: 20px 180px;
    }

    .layui-nav {
      padding: 0px;
    }

    .layui-fluid {
      padding: 0px;
    }

    .foot {
      margin-top: 20px;
      margin-left: 30px;
    }
  </style>
</head>

<body>
  <div class="layui-fluid">
    <img src="../static/img/logo.png" class="logo">
    <ul style="padding-left:160px" class="layui-nav layui-bg-blue posi" lay-filter="">
      <li class="layui-nav-item layui-this"><a href="">首页</a></li>
      <li class="layui-nav-item"><a href="">模拟考试</a></li>
      <li class="layui-nav-item"><a href="">科目一</a></li>
      <li class="layui-nav-item"><a href="">科目四</a></li>
      <li class="layui-nav-item"><a href="">个人中心</a></li>
      <li class="layui-nav-item"><a href="">退出</a></li>
    </ul>
    <div class="action">
      <div class="crumb">
        <span>
          当前位置：
        </span>
        <a href="" class="sy">首页</a>
        <i>></i>
        <a href="" class="mlks">模拟考试</a>
        <i>></i>
        <strong class="ke4">科目四</strong>
      </div>
      <div class="header">
        <h1>成都2018小车科目四考试</h1>
        <h2>
          科目四，又称科目四理论考试、驾驶员理论考试，是机动车驾驶证考核的一部分。公安部123号令实施后，科
          目三考试分为两项内容，除了路考，增加了安全文明驾驶考试，俗称“科目四”，考量“车德”。因为这个考试在科
          目三之后进行，所以大家都习惯称之为科目四考试。实际的官方说法中没有科目四一说。从而映衬出边框投影
        </h2>
      </div>
      <div class="content">
        <ul>
          <li><a href="" class="ct1">顺序练习</a></li>
          <li><a href="" class="ct2">随机练习</a></li>
          <li><a href="" class="ct3">章节练习</a></li>
          <li><a href="" class="ct4">专项练习</a></li>
          <li><a href="" class="ct5">难题练习</a></li>
          <li><a href="" class="ct6">全真模拟</a></li>
        </ul>
      </div>
      <div style="clear: both;"></div>
      <div class="statil">
        <h3 class="title">成都小车科目四练习及考试统计</h3>
        <div class="content-wapper cl">
          <div class="s-info fl">
            <p class="p1 cl"><span class="i0 ii"></span><span class="n1">做对*题</span><span class="n2">占比*%</span></p>
            <p class="p2 cl"><span class="i1 ii"></span><span class="n1">做错*题</span><span class="n2">占比*%</span></p>
            <p class="p3 cl"><span class="i2 ii"></span><span class="n1">未做*题</span><span class="n2">占比*%</span></p>
          </div>
          <div class="s-link fr">
            <a class="favor fl">我的收藏</a>
            <a class="mistake fl">我的错题</a>
          </div>
        </div>
        <div style="clear:both"></div>
      </div>
    </div>
    <div class="footer1">
      <div class="foot">
        <ul class="head">
          <li><span class="active">热门驾校</span></li>
          <li><span>周边驾校</span></li>
          <li><span>热门推荐</span></li>
        </ul>
        <ul class="middle">
          <li><a href="">广东驾校</a></li>
          <li><a href="">东方驾校</a></li>
          <li><a href="">八一驾校</a></li>
          <li><a href="">京西驾校</a></li>
          <li><a href="">新亚驾校</a></li>
          <li><a href="">足利驾校</a></li>
          <li><a href="">通略驾校</a></li>
          <li><a href="">汇通驾校</a></li>
          <li><a href="">立秋驾校</a></li>
          <li><a href="">龙泉驾校</a></li>
          <li><a href="">安通驾校</a></li>
          <li><a href="">丰顺驾校</a></li>
          <li><a href="">港深通驾校</a></li>
          <li><a href="">绅宝驾校</a></li>
          <li><a href="">白云驾校</a></li>
          <li><a href="">北方驾校</a></li>
          <li><a href="">安顺驾校</a></li>
          <li><a href="">天欣驾校</a></li>
          <li><a href="">综安驾校</a></li>
          <li><a href="">金盾驾校</a></li>
          <li><a href="">创元驾校</a></li>
          <li><a href="">京东驾校</a></li>
          <li><a href="">狮麟驾校</a></li>
          <li><a href="">金龙驾校</a></li>
          <li><a href="">蓝天驾校</a></li>
          <li><a href="">东方时尚驾校</a></li>
          <li><a href="">正直驾校</a></li>
          <li><a href="">广仁驾校</a></li>
          <li><a href="">荣臣驾校</a></li>
          <li><a href="">天保驾校</a></li>
        </ul>
      </div>
      <div class="footer2">
        <div class="left">
          <img src="../static/img/logo.png">
        </div>
        <div class="right">
          <ul>
            <li><a href="">关于我们</a></li>
            <li class="bd-line"></li>
            <li><a href="">核心产品</a></li>
            <li class="bd-line"></li>
            <li><a href="">商务合作</a></li>
            <li class="bd-line"></li>
            <li><a href="">提交漏洞</a></li>
          </ul>
          <div style="clear: both;"></div>
          <p>地址：北京市海淀区知春路6号锦秋国际大厦B座5层 电话：400-056-1617</p>
          <p>Copyright © 2017 北京木仓科技股份有限公司版权所有 京ICP备11009001号-17</p>
        </div>
      </div>

      <script src="../static/layui/layui.all.js"></script>
</body>

</html>